.welcome_section{
    color: #fff;
    margin:20px auto;
    text-align: center;
    
}
.welcome_section h1{
    font-size: 80px;
    margin-bottom: 40px;
}
.card{
    margin: auto;
    border-radius: 20px !important;
    text-align: center;
    height: 380px;
    
}
.card img{
    width: 150px;
    height: 150px;
    margin: auto;
}
.card:hover{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
transform: scale(1.1,1.1);
}

.start_quiz_btn{
   
    
	font-size: 25px;
    font-weight: 500;
    color: #BD9FD9;
    padding: 10px 20px;
    outline: none;
    border: 2px solid #BD9FD9;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
	text-decoration:none;
	

	
}
.start_quiz_btn:hover {
	
	background-color: #eee;
	color: #BD9FD9;
	
}
.start_quiz_btn:active {
	position:relative;
	top:2px;
}
